form.form-normal{
  margin: 10px;
}
.controls-container{
  width: 100%;
  padding: 5%;
}
.controls-container > * {
  width: 100%;
}
.add-bottom-padding{
  padding-bottom: 10px;
}
.button-row button{
  margin: 5px;
}
div.container{
  margin: 0px 40px
}
.flex-remaining-space{
  flex: 1 1 auto;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
mat-card{
 margin-right: 50px;
  margin-left: 50px;
  
}