<mat-nav-list>
    <div class="logo py-4">
<img src="assets/images/05.jpg " alt="">
<h2>Admin-Ticket</h2>
    </div>
 <mat-divider></mat-divider>  
 <h2 matsubheader class="mt-2">APPLICATION</h2> 

<a mat-list-item routerLink="/statistique" routerLinkActive="list-item-activite"><mat-icon> home</mat-icon>Statistique
</a>

<a mat-list-item routerLink="/gestion-evenement" routerLinkActive="list-item-activite"><mat-icon>dashboard</mat-icon>Evenement
</a>
<a mat-list-item routerLink="/list-evenement" routerLinkActive="list-item-activite"><mat-icon>person</mat-icon>List-Event
</a>
<a mat-list-item routerLink="/gestion-utilisateur" routerLinkActive="list-item-activite"><mat-icon>person</mat-icon>Utilisateur
</a>

</mat-nav-list>