
table {
  width: 100%;
  margin-bottom: 15px;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.page{
  padding-top: 15px;
}

.contenair{
  padding-top: 15px;
}

mat-card{
  margin-right: 15px;
   margin-left: 15px;
   width: 100%;
 }